.box {
    margin: 100px;
    margin-left: 200px;
    margin-right: 200px;
    position: relative;
    background: rgb(201, 201, 201);
    padding: 25px;
}

.box::before {
    position: absolute;
    content: "";
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    top: 0;
    left: -5%;
    width: 110%;
    height: 99%;
}

.box::after {
    position: absolute;
    content: "";
    border-right: 1px solid black;
    border-left: 1px solid black;
    left: 0;
    top: -45%;
    width: 100%;
    height: 200%;
}

h1 {
    position: absolute;
    margin-left: 150px;
    margin-top: -80px;
}