.japan
{
    position: relative;
    width: 220px;
    height: 120px;
    border: 2px solid grey
}

.japan::before
{
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    margin-left: 75px;
    margin-top: 25px;
    border-radius: 50%;
    background: rgb(133, 0, 0);
}