* {box-sizing:border-box}

.Slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 3.5%;
  height: 100%;
  width: auto;
  margin-top: -25px;
  padding: 30px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(169, 169, 169, 0.7);
}
.prev span, .next span {
    position: absolute;
    top: 50%;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(128, 128, 128, 0.7);
}

h1 {
    text-align: center;
}