.all {
    /* display: inline-block; */ /* это не надо */
    height: auto;
    width: 100%;
    
}

.card {
    height: 200px;
    width: 110px;
    margin: auto;
    display: inline-block;
    position: relative;
}

.card:hover {
    box-shadow: 0 0 7px black;
}

.date {
    text-align: center;
    font-size: 1.5em;
    background: steelblue;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.img {
    margin: auto;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    position: absolute;
    

}

.temperature {
    text-align: center;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    position: absolute;
    margin-top: 100px;
    margin-left: 20px;
}