* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    float: left;
    text-align: center;
    display: flex;
    overflow: hidden;
    background-color: rgb(228, 227, 227);
    width: 100%;
    margin-bottom: 10px;
}

.logo {
    padding-top: 10px;
}

.logoimg {
    float: left;
    margin-top: 2px;
}

.head ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: cursive;
    font-weight: bold;
    font-size: 16px;
    padding-right: 100px;
}

.head ul li a {
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.head ul li input {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
}

.item-2 {
    background-color: rgb(160, 160, 160);
}

.item-3 {
    display: flex;
    width: 100%;
}

/* Стиль списка */

ul.breadcrumb {
    padding: 4px 16px;
    list-style: none;
}

/* Отображение элементов списка бок о бок */

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Добавить символ косой черты (/) перед/за каждым элементом списка */

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Добавить цвет для всех ссылок внутри списка */

ul.breadcrumb li a {
    color: #000000;
    text-decoration: none;
}

/* Добавить цвет на наведении курсора мыши */

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.home {
    color: rgb(95, 3, 3);
}

.sidemenu {
    width: 20%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 80px;
    display: block;
}

.filters-block {
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    border-style: solid;
    padding: 30px;
}

.filters {
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
}

.filters:last-child {
    display: flex;
    flex-direction: column;
}

input[type="checkbox"] {
    position: relative;
    width: 20px;
    height: 20px;
}

.price {
    padding-bottom: 10px;
}

.oneprice {
    padding-right: 70px;
}

#range {
    width: 150px;
    height: 1px;
    background-color: transparent;
}

.mainblock {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-left: 0px;
}

.mainblock a {
    text-decoration: none;
    color: inherit;
}

.item-card {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.wands {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    padding: 50px;
    text-align: center;
    align-items: center;
}

.wands img {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 10px;
}

.price {
    font-style: italic;
    font-weight: bolder;
    color: rgb(46, 0, 0);
}

.buy {
    font-size: 20px;
    font-weight: 600;
    border: 1px solid transparent;
    outline: none;
    background-color: rgb(187, 187, 187);
    width: 100px;
    height: 30px;
}

.buy:hover {
    border: 2px solid transparent;
    background-color: rgb(70, 0, 0);
    color: white;
}

.pagination {
    width: 20%;
    margin: 20px 55%;
    font-weight: bold;
}

.page:hover {
    cursor: pointer;
}

.firstpage {
    color: darkred;
}

footer {
    position: fixed;
    width: 100%;
    background-color: rgb(187, 187, 187);
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}

footer p {
    margin-left: 80px;
}

@media screen and (max-width: 1024px) {
    header {
        display: flex;
    }
    .sidemenu {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .mainblock {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
    }
    .sidemenu {
        width: 97%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .filters-block {
        display: flex;
        flex-direction: row;
    }
    .filters {
        padding-right: 30px;
        padding-left: 40px;
    }
    .mainblock {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .item-3 {
        flex-direction: column;
        width: 100%;
    }
}

.main {
    display: flex;
    width: 80%;
    height: 80vh;
}

.Walnut img {
    height: 406px;
    width: 313px;
    border: 2px solid rgb(151, 86, 0);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: 40px;
    margin-left: 40px;
}

.description {
    display: block;
    padding-left: 100px;
    text-align: center;
    margin-top: 120px;
}

.descr {
    display: block;
}

.comment {
    display: flex;
    background-color: rgb(199, 199, 199);
    border: 4px solid darkred;
    margin-bottom: 20px;
    margin-right: 200px;
    margin-left: 200px;
}

.comment p {
    margin-left: 20px;
}

.comment p img {
    margin-right: 10px;
    margin-bottom: -5px;
}

.buy-button {
    font-size: 30px;
    font-weight: 600;
    border: 1px solid transparent;
    outline: none;
    width: 400px;
    height: 40px;
    margin-top: 20px;
}

.buy-button:hover {
    border: 2px solid transparent;
    background-color: darkred;
    color: white;
}

@media screen and (max-width: 1024px) {
    .main {
        display: flex;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: -200px;
        padding-bottom: 20px;
    }
    .footer {
        display: flex;
    }
    .missdior img {
        margin-left: 150px;
    }
    .comment {
        display: flex;
        margin-left: 150px;
    }
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
    }
    .main {
        display: flex;
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: -150px;
    }
    .Walnut img {
        height: 203px;
        width: 157px;
        margin-top: 40px;
        margin-left: 100px;
    }
    .buy-button {
        font-size: 30px;
        font-weight: 600;
        border: 1px solid transparent;
        outline: none;
        background-color: rgb(187, 187, 187);
        width: 300px;
        height: 40px;
    }
    .footer {
        display: flex;
    }
}