.main {
  width: 900px;
  height: 600px;
  margin: 0 auto;
}

.header {
  text-align: center;
  height: 70px;
}

.back {
  display: flex;
  align-items: center;
  height: 530px;
  background: rgb(63,71,81);
}

.content {
  padding: 30px;
  border: 1px solid grey;
  background: rgb(72,82,94);
  height: 82%;
  width: 81%;
  margin-left: 1%;
  color: rgb(204,206,208);
}

.typeface {
  margin-bottom: 20px;
}

.toggle-select {
  margin-bottom: 50px;
}

.text-decorate-title {
  margin-bottom: 15px;
}

.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 25px 25px 0;
  background: rgb(50,58,66);
  width: 10%;
  height: 60%;
}

.toolbar > img {
  transform: scale(0.7);
}

.width-wrapper {
  width: 40%;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select > select {
  background: rgb(50,58,66);
  color: white;
  width: 100%;
  outline: none;
  border: 1px solid grey;
  padding: 8px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #404650;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: turquoise;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.text-decorate-content {
  margin-bottom: 60px;
}

.size-tittle {
  margin-bottom: 30px;
}

.pick-weight {
  display: flex;
  align-items: center;
}

.pick-weight > div > span {
  margin-left: 10px;
  margin-right: 20px;
}

input[type="checkbox"] {
  visibility: hidden;
}

.pick-weight > div {
  position: relative;
}

.pick-weight > div > label > span {
  position: absolute;
  left: 0;
}


.custom_font {
  position: absolute;
  background-color: #333A41;
  height: 16px;
  width: 16px;
  border: 1px solid rgb(223, 223, 223);
}


input[type="checkbox"]:checked + .custom_font::after {
  position: absolute;
  content: "\2713";
  color: green;
  text-align: center;
  left :2px;
}

.color-select {
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
}

.custom_colors {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid grey;
}

#blue_sp {
  top: 0;
  left: 0px;
  background-color: #5274B4;
}
#green_sp {
  top: 0;
  left: 65px;
  background-color: #75B7A6;
 }
#purpule_sp {
  top: 0;
  left: 130px;
  background-color: #C168C5;
}
#yellow_sp {
  top: 0;
  left: 195px;
  background-color: #DBD878;
}
#orange_sp {
  top: 0;
  left: 260px;
  background-color: #C78565;
}

input[type="checkbox"]:checked + .custom_colors::after {
  position: absolute;
  content: "\2713";
  color: green;
  text-align: center;
  left: 8px;
  top: 3px;
  font-size: 20px;
}

.slidecontainer {
  position: relative;
}

.slide {
  -webkit-appearance: none;
  width: 200px;
  height: 2px;
  border-radius: 5px;
  background: #2a2f35;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slide:hover {
  opacity: 1;
}

.slide::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: turquoise;
  cursor: pointer;
}

.slide::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.select-size {
  position: relative;
  height: 50px;
}

.slidecontainer {
  position: relative;
}
.slidecontainer > p {
  top: 10px;
  position: absolute;
  color: white;
}

.small {
  font-size: 1em;
}

.big {
  position: absolute;
  left: 190px;
  font-size: 1.5em;
  top: 0px !important;
}