form
{
    width: 100%;
}

[type="search"] 
{
    width: 95%; height: 25px;
    border-color: blue;
    color: green;
    border-radius: 5px;
    text-indent: 10px;
    text-size-adjust: 2em;
    
}

[value="FIND"] 
{
    color: green;
    height: 25px;
    position: absolute;
}

[type="submit"]
{
   position: absolute;
}

[type="submit"]:hover
{
    color: red;
}

[type="search"]:hover
{
    color: red;
}


